body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
}

.box {
  height: 100vh;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}


.container {
  height: 50%;
  width: 40%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: antiquewhite;
}

/* Password input */
.passInput input {
  padding-left: 10px;
  height: 40px;
  width: 250px;
  margin-right: 10px;
  font-family: "Montserrat", serif;
  font-size:medium;
  font-weight:500;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.passInput input:focus {    
  border: 1px solid gray;
  outline: none;
}

/* Copy button */

.passInput button {
  height: 40px;
  width: 70px;
  font-family: "Montserrat", serif;
  font-size:medium;
  font-weight:500;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.passInput button:hover {
  background-color: rgb(173, 171, 171);
}

/* Functions */

.length {
  margin-bottom: 25px;
}

.length input {
  margin-right: 8px;
  cursor: pointer;
}

.checks input[type="checkbox"] {
  transform: scale(1.5);
  cursor: pointer;
}

.checks label {
  margin-left: 5px;
}

.number {
  margin-right: 30px;
}

@media(max-width: 1000px) {
  h2 {
      font-size: 20px;
  }

  .container {
      height: 400px;
      width: 280px;
      padding-top: 20px;
  }

  .passInput {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
  }

  .passInput input {
      width: 180px;
      margin: 0 auto;
  }

  .passInput button {
      height: 35px;
  }

  .length {
      margin-left: 10px;
  }

}